<div class="walletImage m-5">
  <img width="400px" height="400px" src="assets/svg/feedback.svg" />
</div>

<!--Modal-->
<div class="modal-dialog">
  <!--Modal Content-->
  <div class="modal-content p-4">
    <!-- Modal Header-->
    <div class="modal-header">
      <h3>Feedback Request</h3>
    </div>
    <!-- Modal Body-->
    <div class="modal-body text-center">
      <i class="far fa-file-alt fa-4x mb-3 animated rotateIn icon1"></i>
      <h3>Your opinion matters</h3>
      <h5>
        Help us improve our service. <strong>Give us your feedback.</strong>
      </h5>
      <hr />
      <h6>Your Rating</h6>
    </div>
    <!-- Radio Buttons for Rating-->

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
              


    <div class="form-check mb-4" class="form-group">
      <input name="rating" type="radio"  #rating="ngModel" value="5" ngModel/>
      <label class="mx-3">Very good</label>
    </div>
    <div class="form-check mb-4" class="form-group" >
      <input name="rating" type="radio" #rating="ngModel" value="4" ngModel/>
       <label class="mx-3">Good</label>
    </div>
    <div class="form-check mb-4" class="form-group">
      <input name="rating" type="radio"  #rating="ngModel" value="3" ngModel/>
      <label class="mx-3">Mediocre</label>
    </div>
    <div class="form-check mb-4" class="form-group">
      <input name="rating" type="radio" #rating="ngModel" value="2" ngModel /> 
      <label class="mx-3">Bad</label>
    </div>
    <div class="form-check mb-4" class="form-group">
      <input name="rating" type="radio" #rating="ngModel" value="1" ngModel/>
      <label class="mx-3">Very Bad</label>
    </div>
    <!--Text Message-->
    <div class="text-center">
      <h4>What could we improve?</h4>
    </div>
    <textarea type="textarea" class="form-group" placeholder="Your Message" rows="3" name="description" #description="ngModel" value="description" ngModel></textarea>
    <!-- Modal Footer-->
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-lg">Send</button>
               
      <a href="" class="btn btn-outline-primary" data-dismiss="modal">Cancel</a>
    </div>
    </form>
  </div>
</div>
