<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Driver Id</th>
                <th>First Name</th>
                <th>Last Name</th>  
                 <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let e of driver">              
                <td> {{e.driverId}} </td>
                <td> {{e.firstName}} </td>
                <td> {{e.lastName}} </td>                        
               <td>{{e.mobile}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Driver Id</th>
                <th>First Name</th>
                <th>Last Name</th>  
                 <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let e of driver">              
                <td> {{e.driverId}} </td>
                <td> {{e.firstName}} </td>
                <td> {{e.lastName}} </td>                        
               <td>{{e.mobile}}</td>
            </tr>
        </tbody>
    </table>
</div>




<!---
<form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" formControlName="firstName" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <br>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" formControlName="lastName" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <br>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Mobile</label>
        <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" formControlName="mobile" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <br>
    <button class="btn btn-primary" type="submit">Submit form</button>
    </div>

  </form>

-->


