<p>wallet works!</p>
<div class="row">
    <div class="col-75">
      <div class="container">
        <form action="/action_page.php">
  
          <div class="row">
            <div class="col-50">
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input type="text" id="email" name="email" placeholder="john@example.com">
            </div>
  
            <div class="col-50">
              <h3>Payment</h3>
              
              <label >Wallet Balance</label>
              <label>10000</label>
                <div class="col-50">
                  <label for="password">Password</label>
                  <input type="text" id="password" name="password" placeholder="Password">
                </div> 
              </div>
            </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label>
          <input type="submit" value="Continue to checkout" class="btn" routerLink="/feedback" >
        </form>
      </div>
    </div>
  </div>