<div class="header d-flex justify-content-center"><h4>Welcome admin</h4></div>
<div class="d-flex">
  <div class="adminImage m-5">
    <img width="400px" height="400px" src="assets/svg/admin.svg" />
  </div>
  <div class="d-flex right-half fl row">
    <div class="w-100 justify-content-around">
      <p>
        <button *ngIf="false"
          class="btn btn-primary col analytics-header"
          (click)="setShowAnalytics()"
        >
          Show analytics
        </button>

        <button
          class="btn btn-primary col bus-header"
          (click)="setShowBusDetails()"
        >
          Bus Details
        </button>

        <button
          class="btn btn-primary col driver-header"
          (click)="setShowDriverDetails()"
        >
          Driver Details
        </button>
      </p>
    </div>
    <div class="row">
      <div class="w-100" *ngIf="showAnalytics">
        <div id="analytics">
          <div class="card card-body">
         <!---   analytics. Anim pariatur cliche reprehenderit, enim eiusmod high
            life accusamus terry richardson ad squid. Nihil anim keffiyeh
            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident.--->
          </div>
        </div>
      </div>
      <div class="w-100" *ngIf="showBusDetails">
        <div id="bus">
          <div class="card card-body">
            <div class="row">
              <div class="col">
                <select
                  class="input operationSelect"
                  [(ngModel)]="selectedOperation"
                  placeholder="Select operation"
                  (change)="onChange()"
                >
                  <option *ngFor="let op of Operations" [ngValue]="op">
                    {{ op }}
                  </option>
                </select>
              </div>
              
              <div class="table-body">
                <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th *ngIf="selectedOperation!='Add Records'">Bus Id</th>
                      <th>No of Seats</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Day</th>
                      <th>Time</th>
                      <th>Cost</th>
                      <th>Driver Id</th>
                      <th *ngIf="selectedOperation=='Display all records'">Delete</th>
                      <th *ngIf="selectedOperation=='Edit Records'">Update</th>
                      <th *ngIf="selectedOperation=='Add Records'">Add</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let b of bus">
                      <td *ngIf="selectedOperation!='Add Records'">{{ b.busId }}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{b.noOfSeats}}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{b.source}}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{b.destination}}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{b.day}}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{b.time}}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{b.ticketPrice}}</td>
                      <td *ngIf="selectedOperation!='Add Records' && selectedOperation!='Edit Records'">{{b.driverId}}</td>

                      <td *ngIf="selectedOperation=='Add Records'"><input type="text"  [(ngModel)]="busnoOfSeats"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text"  [(ngModel)]="bussource"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text"  [(ngModel)]="busdestination"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text"  [(ngModel)]="busday"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text"  [(ngModel)]="bustime"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text"  [(ngModel)]="busticketPrice"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text"  [(ngModel)]="busdriverId"/></td>
                      
                      <td *ngIf="selectedOperation=='Edit Records'"><input type="text"  id="driverId" value={{b.driverId}}/></td>
                      


                      <td *ngIf="selectedOperation=='Display all records'">
                        <input
                          class="submit"
                          type="button"
                          value="Delete"
                          (click)="deleteBusDetail(b.busId)"
                        />
                      </td>
                      <td *ngIf="selectedOperation=='Edit Records'">
                        <input
                          class="submit"
                          type="button"
                          value="Update"
                          (click)="updateBusDetail(b.busId)"
                        />
                      </td>
                      <td *ngIf="selectedOperation=='Add Records'">
                        <input
                          class="submit"
                          type="button"
                          value="Add"
                          (click)="addBusDetail()"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100" *ngIf="showDriverDetails">
        <div id="driver">
          <div class="card card-body">
            <div class="row">
              <div class="col">
                <select
                  class="input operationSelect"
                  [(ngModel)]="selectedOperation"
                  placeholder="Select operation"
                  (change)="onChange()"
                >
                  <option *ngFor="let op of Operations" [ngValue]="op">
                    {{ op }}
                  </option>
                </select>
              </div>
              
              <div class="table-body">
                <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th *ngIf="selectedOperation!='Add Records'">Driver Id</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Mobile</th>
                      <th *ngIf="selectedOperation=='Display all records'">Delete</th>
                      <th *ngIf="selectedOperation=='Edit Records'">Update</th>
                      <th *ngIf="selectedOperation=='Add Records'">Add</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let dr of driver">
                      <td *ngIf="selectedOperation!='Add Records'" >{{dr.driverId}}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{dr.firstName}}</td>
                      <td *ngIf="selectedOperation!='Add Records'">{{dr.lastName}}</td>
                      <td *ngIf="selectedOperation!='Add Records' && selectedOperation!='Edit Records'">{{dr.mobile}}</td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text" [(ngModel)]="driverFirstname"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text" [(ngModel)]="driverLastname"/></td>
                      <td *ngIf="selectedOperation=='Add Records'"><input type="text" [(ngModel)]="driverMobile"/></td>

                      <td *ngIf="selectedOperation=='Edit Records'"><input type="text" id='driverMobile' value={{dr.mobile}}/></td>

                      <td *ngIf="selectedOperation=='Display all records'">
                        <input
                          class="submit"
                          type="button"
                          value="Delete"
                       (click)="deleteDriver(dr.driverId)" 
                        />
                      </td>
                      <td *ngIf="selectedOperation=='Edit Records'">
                        <input
                          class="submit"
                          type="button"
                          value="Update"
                          (click)="updateDriverInfo(dr.driverId)"
                        />
                      </td>
                      <td *ngIf="selectedOperation=='Add Records'">
                        <input
                          class="submit"
                          type="button"
                          value="Add"
                          (click)="addDriverDetail()"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>