<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Bus Id</th>
                <th>No of seats</th>
                <th>source</th>  
                 <th>destination</th>
                 <th>Day</th>
                 <th>Time</th>
                 <th>Ticket Price</th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let e of bus">              
                <td> {{e.bus_id}} </td>
                <td> {{e.no_of_seats}} </td>
                <td> {{e.source}} </td>                        
               <td>{{e.destination}}</td>
               <td>{{e.day}}</td>
               <td>{{e.time}}</td>
               <td>{{e.ticket_price}}</td>
            </tr>
        </tbody>
    </table>
</div>